
/* root */
:root {
    --primary-text-color:#2E2F42;
    --desc-text-color:#434455;
    --primary-bg-color: #ffffff;
    --accent-color:#4D5AE5;

}

/* body */
body{
    color:var(--primary-text-color);
    background-color: var(--primary-bg-color) ;
}

.list{
    list-style: none;
}

/* header and footer */
.header{
    color: var(--primary-text-color);
    background-color:var(--primary-bg-color);
}
.logo{
    text-decoration: none;
}
.blue-logo{
    color:var(--accent-color);
}
.nav{
    color:var(--primary-text-color);
    text-decoration: none;
}
.info{
    color: var(--desc-text-color);
    text-decoration: none;
}
.footer-text{
    color:#E7E9FC;
    
}

/* hero */
.hero{
    color: var(--primary-bg-color);
    background-color: var(--primary-text-color) ;
    
}

/*  */