
/* root */
:root {
    --primary-text-color:#2E2F42;
    --desc-text-color:#434455;
    --primary-bg-color: #ffffff;
    --accent-color:#4D5AE5;
    --primary-white-color:#ffffff;
}

/* body */
body{
    color:var(--primary-text-color);
    background-color: var(--primary-bg-color) ;
}

li{
    list-style: none;
}

/* header and footer */
.header{
    color: var(--primary-text-color);
    background-color:var(--primary-bg-color);

}
.logo{
    text-decoration: none;
}
.blue-logo{
    color:var(--accent-color);
}
.nav{
    color:var(--primary-text-color);
    text-decoration: none;
}
.info{
    color: var(--desc-text-color);
    text-decoration: none;
}
.footer-text{
    color:#E7E9FC;
    
}

/* hero */
.hero{
    color:var(--primary-white-color);
    background-color: var(--primary-text-color) ;
    
}

/*button */
.button{
    color:var(--primary-white-color);
    background-color: var(--accent-color);
}

/* second-section */
.second-section {
background-color: var(--primary-bg-color);
}
.second-section h3 {
    color: var(--primary-text-color);

}
.second-section p {
    color:var(--desc-text-color)
}
/* third-section */


/* fourth-section */
.fourth-section{
    background-color:#F4F4FD;;
}
.fourth-section p{
    color:var(--desc-text-color);
}
